*{
    background-color: #1B1464;
}

.intro{
    font-family: sans-serif;
    color: #f5cd79;
    font-size: 25px;
}

h1{
    color: orange;
}

.body{
    display: flex;
    flex-wrap: wrap;
}

.img{
    border-radius: 20px;
    background-color: orange;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: sans-serif;
}

.img:hover{
    transform: scale(1.1);
}

.img li{
    background-color: blueviolet;
}